@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #603809;
  --secondary: #f9c06a;
  --bg-body: #fffefc;
  --bg-primary: #fff9f1;
  --text-primary: #707070;
  --text-dark: #1e1e1e;
  --text-light: #ffffff;
  --border: rgba(249, 192, 106, 0.47);
}
html {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  color: var(--text-primary);
  background-color: var(--bg-body);
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 700;
}

.container {
  padding: 0 22px;
}

.header {
  background: url(./assets/coffee_image.png) top right/cover no-repeat;
}

.btn {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--text-dark);
  background: var(--secondary);
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 1.2rem;
}

.topbar {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-light);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.topbar .hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar > a {
  margin: 5px 0;
  border-bottom: 1px solid transparent;
}

.navbar > a:hover {
  border-bottom: 1px solid var(--text-light);
}

.sign {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign > a {
  text-decoration: underline;
}

.navbar-toggler {
  background-color: var(--secondary);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  padding: 2px;
  height: 30px;
  top: 10px;
  right: 18px;
  border: none;
  border-radius: 2px;
}

.navbar-toggler > span {
  width: 100%;
  height: 4px;
  background-color: var(--text-dark);
  border-radius: 2px;
}

#hero {
  text-align: center;
  color: var(--text-light);
  padding: 50px 0;
}

#hero .title {
  font-size: 1.1rem;
}

#hero .title > span {
  display: block;
  font-size: 7rem;
}

#hero .btn {
  margin-top: 20px;
}

.section {
  margin-top: 20px;
  padding: 20px 0;
  position: relative;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.section-description {
  text-align: center;
  line-height: 1.5rem;
  margin-top: 6px;
}

.section-with-image {
  padding: 20px;
  margin: 2px auto;
}

#get-chance, #suscribe {
  background: linear-gradient(
    var(--primary), var(--border)), 
    url(./assets/coffe_with_bean.png)
  ;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-light);
}

#get-chance .section-title,
#suscribe .section-title {
  color: var(--text-light);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex .flex-img {
  display: none;
}

.flex .section-title {
  text-align: left;
  margin-bottom: 8px;
}

.flex .btn {
  margin-top: 12px;
}

.card-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.card {
  background: var(--bg-primary);
  border: 1px solid var(--border);
  text-align: center;
  width: 100%;
  margin: auto;
}

.card-menu {
  position: relative;
}

.card-img {
  display: block;
  margin: 0 auto;
}

.card-menu .card-img {
  width: 100%;
}

.card-menu .card-body {
  padding: 14px;
}

.card-title {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 700;
}

.card-menu .ingredient {
  color: var(--text-dark);
  font-size: 0.8rem;
  margin-top: 6px;
}

.card-menu .price {
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 18px;
}

.card-menu .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) !important;
}

.card-differencies {
  padding: 12px;
}

.card-differencies .card-img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.card-differencies .card-text {
  margin: 20px auto 0;
}

.card-feedback {
  padding: 50px 30px;
  position: relative;
  margin: 20px auto;
}

.card-feedback .apostroph {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
}

.card-feedback .author {
  color: var(--primary);
  font-size: 1.6rem;
}

.card-feedback .job {
  line-height: 1.7rem;
}

.card-feedback .author-profil {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.get-started {
  margin-top: 18px;
  text-align: center;
}

.get-started > .call {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 700;
  margin: 12px auto;
}

.blast {
  display: none;
}

#suscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px
}

.form-group {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

.form-group > input {
  color: var(--text-primary);
  width: 100%;
  border: none;
  padding: 2px 5px;
}

.form-group > input:focus {
  outline: none;
}

.form-group > .btn {
  border-radius: 0;
}

.cup-blast {
  display: none;
}

#footer {
  background: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--text-light);
  padding: 20px 0;
}

.social {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-title {
  color: var(--text-light);
  font-size: 1.3rem;
}

.contact-info {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-info > a:hover {
  text-decoration: underline;
  font-weight: 700;
}
/*LARGE SCREEN */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 64px;
  }

  .section-with-image {
    padding: 30px 64px;
    margin: auto;
  }

  .card-group {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card-group > div {
    flex: 1 1 40%;
  }

  .form-group {
    width: 90%;
    margin: 24px auto 0;
  }
  
  .form-group > input {
    width: 100%;
    border: none;
    padding: 2px 5px;
  }
  
  .form-group > .btn {
    border-radius: 0;
  }

  .cup-blast {
    display: block;
    position: absolute;
    bottom: 0;
    width: 150px;
    transform: translateY(25%);
  }

  .cup-blast.cup-start {
    left: 0;
  }

  .cup-blast.cup-end {
    right: 0;
  }

  #footer {
    padding: 50px 0;
  }
  


}

@media screen and (min-width: 912px) {
  html {
    font-size: 20px;
  }

  .container {
    padding: 0 93px;
  }

  .topbar {
    flex-direction: row;
    align-items: center;
    padding: 21px 0;
  }

  .topbar .hidden {
    display: flex;
  }

  .navbar {
    flex-direction: row;
  }

  .navbar > a {
    margin: 0 30px;
  }

  .navbar-toggler {
    display: none;
  }

  #hero {
    width: 50%;
    text-align: left;
    padding-top: 116px;
    padding-bottom: 95px;
  }

  #hero .title {
    font-size: 1.1rem;
  }

  #hero .title > span {
    display: block;
    font-size: 11rem;
  }

  #hero .btn {
    margin-top: 20px;
  }

  .section {
    margin-top: 30px;
    padding: 20px 0;
  }

  .section-title {
    font-size: 2.7rem;
  }

  .section-description {
    line-height: 1.7rem;
    margin-top: 10px;
  }

  .section-with-image {
    padding: 20px 93px;
  }

  .flex-text {
    width: 60%;
  }

  .flex .flex-img {
    display: block;
    width: 50%;
  }

  .card-group {
    margin-top: 40px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  .card-menu .card-title {
    font-size: 1.1rem;
  }

  .card-menu .btn {
    padding: 14px 10px;
  }

  .card-differencies {
    padding: 36px 50px;
  }

  .card-differencies .card-img {
    width: 88px;
    height: 88px;
    margin-bottom: 25px;
  }

  .card-differencies .card-text {
    width: 80%;
    margin: 8px auto 0;
  }

  .card-feedback {
    width: 80%;
    margin: 20px auto 40px;
    padding: 70px;
  }

  .card-feedback .apostroph {
    top: 20px;
    left: 20px;
    width: 60px;
  }

  .card-feedback .author {
    margin-top: 24px;
  }

  .card-feedback .author-profil {
    width: 100px;
    height: 100px;
  }

  .blast {
    display: block;
    position: absolute;
    top: -140px;
    z-index: -1;
  }

  .blast-start {
    right: 0;
  }

  .blast-end {
    left: 0;
    top: -250px;
  }
  
  #suscribe{
    padding: 60px;
  }

  #get-chance {
    padding: 0 60px;
  }

  .cup-blast {
    width: 180px;
  }
}

@media screen and (min-width: 1128px) {

  .header {
    height: 100vh;
  }

  .card-group {
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .card-differencies {
    padding: 36px 0px;
  }

  .flex-text > p {
    margin: 16px 0;
  }

  .flex-img {
    max-height: 525px;
    height: auto;
    object-fit: scale-down;
  }

  #suscribe {
    padding: 100px;
  }

  .cup-blast {
    width: 200px;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
  }

  .info {
    max-width: 60%;
  }

  .info > p {
    margin: 20px 0;
  }
}
